<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vaccination details</title>
    <style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}
</style>
</head>
<body>
<table style="width:100%" id="t01"><th>Vaccination Center</th>
    <th>Slots Available</th>
    <th>District Under</th>
    <th>Pincode</th><tr><td>Shanthinagar UPHC BLOCK 1</td><td><table style="width:100%" id="t01"><th>Date</th>
        <th>Capacity</th>
        <th>Slots Available</th>
        <th>Minimum age</th>
        <th>Vaccine</th><tr><td>01-05-2021</td><td>4</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-06:00PM]</td><td>18</td><td></td></tr><tr><td>02-05-2021</td><td>0</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-06:00PM]</td><td>18</td><td></td></tr><tr><td>03-05-2021</td><td>1</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-06:00PM]</td><td>45</td><td></td></tr><tr><td>04-05-2021</td><td>0</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-06:00PM]</td><td>45</td><td></td></tr><tr><td>05-05-2021</td><td>0</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-06:00PM]</td><td>45</td><td></td></tr></table></td><td>BBMP</td><td>560027</td></tr><tr><td>Bowring Hospital Covi-s Vip-2</td><td><table style="width:100%" id="t01"><th>Date</th>
        <th>Capacity</th>
        <th>Slots Available</th>
        <th>Minimum age</th>
        <th>Vaccine</th><tr><td>01-05-2021</td><td>0</td><td>[09:30AM-10:30AM, 10:30AM-11:30AM, 11:30AM-12:30PM, 12:30PM-04:00PM]</td><td>18</td><td></td></tr></table></td><td>BBMP</td><td>560001</td></tr><tr><td>Bowring Hospital VIP-1</td><td><table style="width:100%" id="t01"><th>Date</th>
        <th>Capacity</th>
        <th>Slots Available</th>
        <th>Minimum age</th>
        <th>Vaccine</th><tr><td>01-05-2021</td><td>0</td><td>[10:00AM-11:00AM, 11:00AM-12:00PM, 12:00PM-01:00PM, 01:00PM-04:00PM]</td><td>18</td><td></td></tr></table></td><td>BBMP</td><td>560001</td></tr><tr><td>Regal Hospitals C1</td><td><table style="width:100%" id="t01"><th>Date</th>
        <th>Capacity</th>
        <th>Slots Available</th>
        <th>Minimum age</th>
        <th>Vaccine</th><tr><td>01-05-2021</td><td>0</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-06:00PM]</td><td>18</td><td>COVAXIN</td></tr></table></td><td>BBMP</td><td>560064</td></tr><tr><td>Newbagalur Layout UPHC C 1</td><td><table style="width:100%" id="t01"><th>Date</th>
        <th>Capacity</th>
        <th>Slots Available</th>
        <th>Minimum age</th>
        <th>Vaccine</th><tr><td>02-05-2021</td><td>0</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-06:00PM]</td><td>18</td><td></td></tr><tr><td>03-05-2021</td><td>2</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-06:00PM]</td><td>45</td><td></td></tr><tr><td>04-05-2021</td><td>0</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-06:00PM]</td><td>18</td><td></td></tr><tr><td>05-05-2021</td><td>0</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-06:00PM]</td><td>18</td><td></td></tr><tr><td>06-05-2021</td><td>0</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-06:00PM]</td><td>18</td><td></td></tr><tr><td>07-05-2021</td><td>0</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-06:00PM]</td><td>18</td><td></td></tr></table></td><td>BBMP</td><td>560084</td></tr><tr><td>Manipal Clinic</td><td><table style="width:100%" id="t01"><th>Date</th>
        <th>Capacity</th>
        <th>Slots Available</th>
        <th>Minimum age</th>
        <th>Vaccine</th><tr><td>03-05-2021</td><td>0</td><td>[02:00PM-04:00PM, 04:00PM-05:00PM]</td><td>18</td><td>COVAXIN</td></tr></table></td><td>BBMP</td><td>560078</td></tr><tr><td>P D HINDUJA BLOCK 1 HCW</td><td><table style="width:100%" id="t01"><th>Date</th>
        <th>Capacity</th>
        <th>Slots Available</th>
        <th>Minimum age</th>
        <th>Vaccine</th><tr><td>03-05-2021</td><td>0</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-06:00PM]</td><td>18</td><td>COVISHIELD</td></tr></table></td><td>BBMP</td><td>560001</td></tr><tr><td>APOLLO HOSPITAL 1</td><td><table style="width:100%" id="t01"><th>Date</th>
        <th>Capacity</th>
        <th>Slots Available</th>
        <th>Minimum age</th>
        <th>Vaccine</th><tr><td>03-05-2021</td><td>0</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-05:00PM]</td><td>18</td><td>COVISHIELD</td></tr></table></td><td>BBMP</td><td>560076</td></tr><tr><td>Manipal Hospital Covaxin</td><td><table style="width:100%" id="t01"><th>Date</th>
        <th>Capacity</th>
        <th>Slots Available</th>
        <th>Minimum age</th>
        <th>Vaccine</th><tr><td>03-05-2021</td><td>0</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-06:00PM]</td><td>18</td><td>COVAXIN</td></tr></table></td><td>BBMP</td><td>560017</td></tr><tr><td>MANIPAL WHITEFIELD COVAXIN</td><td><table style="width:100%" id="t01"><th>Date</th>
        <th>Capacity</th>
        <th>Slots Available</th>
        <th>Minimum age</th>
        <th>Vaccine</th><tr><td>03-05-2021</td><td>0</td><td>[10:00AM-11:00AM, 11:00AM-12:00PM, 12:00PM-01:00PM, 01:00PM-04:00PM]</td><td>18</td><td>COVAXIN</td></tr><tr><td>04-05-2021</td><td>0</td><td>[10:00AM-11:00AM, 11:00AM-12:00PM, 12:00PM-01:00PM, 01:00PM-04:00PM]</td><td>18</td><td>COVAXIN</td></tr><tr><td>05-05-2021</td><td>0</td><td>[10:00AM-11:00AM, 11:00AM-12:00PM, 12:00PM-01:00PM, 01:00PM-04:00PM]</td><td>18</td><td>COVAXIN</td></tr><tr><td>06-05-2021</td><td>0</td><td>[10:00AM-11:00AM, 11:00AM-12:00PM, 12:00PM-01:00PM, 01:00PM-04:00PM]</td><td>18</td><td>COVAXIN</td></tr><tr><td>07-05-2021</td><td>0</td><td>[10:00AM-11:00AM, 11:00AM-12:00PM, 12:00PM-01:00PM, 01:00PM-04:00PM]</td><td>18</td><td>COVAXIN</td></tr></table></td><td>BBMP</td><td>560066</td></tr><tr><td>MANIPAL NORTHSIDE</td><td><table style="width:100%" id="t01"><th>Date</th>
        <th>Capacity</th>
        <th>Slots Available</th>
        <th>Minimum age</th>
        <th>Vaccine</th><tr><td>03-05-2021</td><td>0</td><td>[10:00AM-12:00PM, 12:00PM-01:00PM]</td><td>18</td><td>COVAXIN</td></tr><tr><td>05-05-2021</td><td>0</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-05:00PM]</td><td>45</td><td></td></tr></table></td><td>BBMP</td><td>560003</td></tr><tr><td>APOLLO HOSPITAL SHESHADRIPURAM</td><td><table style="width:100%" id="t01"><th>Date</th>
        <th>Capacity</th>
        <th>Slots Available</th>
        <th>Minimum age</th>
        <th>Vaccine</th><tr><td>03-05-2021</td><td>0</td><td>[09:00AM-11:00AM, 11:00AM-01:00PM, 01:00PM-03:00PM, 03:00PM-06:00PM]</td><td>18</td><td>COVISHIELD</td></tr></table></td><td>BBMP</td><td>560020</td></tr></table></body></html>